body {
    font-family: sans-serif, Helvetica;
    background-color: #1f2937;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

li {
    flex: 0 0 auto;

}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

button {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 32px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    flex: 0 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    flex: 0 0 auto;
}

/* section one */
.section-one-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex: 1 0 auto;
    margin: 8px 8px;
}

.section-one-paragraph {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 8px;
}

.section-one {
    padding: 48px 100px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.section-one-text {
    flex: 0 0 400px;
}
.section-one-img{
    width: auto;
    flex-shrink: 0;
}

.section-one img {
    width: 500px;
    aspect-ratio: 2/1;
    object-fit: cover;
}

/* section two */
.section-two {
    padding: 48px 100px;
    background-color: white;
    text-align: center;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
}

.profilecontainer {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.profilecontainer img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

.profilecontainer p {
    font-size: 16px;
    color: #444649;
    
}

/* section three */ 

.section-three {
    background-color: #E5E7EB;
    padding: 48px 200px;
    text-align: justify;
    font-size: 36px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 100;
    color: #1f2937;
}

/* section four */

.section-four {
    padding: 48px 100px;
    background-color: #FFFFFF;
}

.section-four-container {
    padding: 30px 60px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
}

.signupheading {
    font-size: 24px;
    font-weight: 900;
    margin: 0 0 10px 0;
}

.signuptext {
    font-size: 18px;
    margin: 0;
}

button.highlight {
    border: 2px solid #f9faf8;
}

.footer {
    padding: 16px 100px;
    color: #f9faf8;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
}
